/**

Thoughtful Beast branding colors
#FB0083; magenta
#FF828E; pink
#DAFF2E; yellow
#00D489; green
#004BD4; blue

*/

body {
  font-family: 'Quicksand', 'Roboto', sans-serif;
  letter-spacing: 1px;
}

h1 {
  font-family: 'Josefin Sans', sans-serif;
  text-align: center;
  margin: 0 auto;
  padding: 1.5rem;
  color: #00d489;
}

hr {
  color: #00d489;
  border: 1px dashed #00d489;
}

a {
  text-decoration: none;
  color: #fb0083;
}

a:hover {
  text-decoration: dotted 1px underline;
  color: #ff828e;
}

label {
  display: block;
}

nav div {
  display: flex;
  justify-content: space-between;
}

nav a {
  display: inline-block;
  margin: 1em;
}

.new-entry div div {
  width: 100%;
  margin-bottom: 1rem;
}

.new-prompt div div {
  width: 100%;
  margin-bottom: 1rem;
}

.new-entry-stats {
  color: gray;
  font-size: 10pt;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  align-content: center;
}
